<head>
  <!-- title  -->
  <title><%= mytitle %></title>

  <!-- css -->
  <link rel="stylesheet" href="app.css" />

  <!-- social meta -->
  <meta property="og:url" content="####" />
  <meta property="og:site_name" content="Mark Maher" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Mark Maher" />
  <meta property="og:image" content="#####" />
  <meta
    property="og:description"
    content="This is Mark Maher, I'am a full-stack web developer, i change life by creating a websites to help the peapol"
  />
  <!-- google meta -->
  <meta name="title" content="Mark Maher" />
  <meta
    name="description"
    content="This is Mark Maher, I'am a full-stack web developer, i change life by creating a websites to help the peapol"
  />
  <meta name="author" content="Mark Maher Ewida" />
  <meta name="type" content="website" />

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />

  <!-- font awsame -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <!-- script -->
  <script src="script.js"></script>
</head>
