<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
  <body>
    <!-- header -->
    <%- include("./partials/header") %>

      <section class="main" id="main">
        <div class="main-content">
          <div class="main-title">
            <h2>This is <span>Mark Maher</span></h2>
            <h3>i change life by creating helpful websites</h3>
          </div>
          <div class="social-media">
            <a
              href="https://www.facebook.com/MarkMaher05"
              class="fa-brands fa-facebook-f"
              ></a>
            <a href="https://github.com/Marco5dev" class="fa-brands fa-github"></a>
            <a
              href="https://www.instagram.com/markmaher05/"
              class="fa-brands fa-instagram"
              ></a>
            <a
              href="https://discord.com/users/966418622165704814"
              class="fa-brands fa-discord"
              ></a>
          </div>
        </div>
        <div class="chevron-down">
          <a href="#services"><i class="fa-solid fa-chevron-down"></i></a>
        </div>
      </section>

      <section class="services" id="services">
        <div class="container">
          <div class="card">
            <div class="content">
              <h2>01</h2>
              <h3>Back-end web dev</h3>
              <p>
                I can do a Back-end web developer for any app you want, just a
                little price and much work for you, with a team or not. using MERN
                MERN Stack => MongoDB, Express, Node.js
              </p>
              <a href="#">Order Now</a>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <h2>02</h2>
              <h3>front-end web dev</h3>
              <p>
                I can do a Front-end web developer for any app you want, just a
                little price and much work for you, with a team or not. using MERN
                MERN Stack => React. bootstrab, HTML, CSS
              </p>
              <a href="#">Order Now</a>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <h2>03</h2>
              <h3>Full-stack web dev</h3>
              <p>
                I can do a Full-Stack web developer for any app you want, just a
                little price and much work for you, with a team or not. using MERN
                MERN Stack => MongoDB, Express, Node.js, React. or any other lang
              </p>
              <a href="#">Order Now</a>
            </div>
          </div>
        </div>

        <div class="chevron-down">
          <a href="#services"><i class="fa-solid fa-chevron-down"></i></a>
        </div>
      </section>

      <section class="projects" id="projects">
        <div class="container">
          <div class="card">
            <div class="content">
              <div class="icon">
                <i class="fa-solid fa-explosion"></i>
              </div>
              <h3>Church Website</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                magni ducimus illo eligendi unde sequi.
              </p>
              <a href="#">View More</a>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="icon">
                <i class="fa-solid fa-explosion"></i>
              </div>
              <h3>Church Website</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                magni ducimus illo eligendi unde sequi.
              </p>
              <a href="#">View More</a>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="icon">
                <i class="fa-solid fa-explosion"></i>
              </div>
              <h3>Church Website</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                magni ducimus illo eligendi unde sequi.
              </p>
              <a href="#">View More</a>
            </div>
          </div>
        </div>
        <div class="chevron-down">
          <a href="#services"><i class="fa-solid fa-chevron-down"></i></a>
        </div>
      </section>

      <!-- <section class="about" id="about"> -->
      <section class="about" id="about">
        <!--Profile card start-->
        <div class="card">
          <div class="content">
            <div class="card-image">
              <img src="mark.png" alt="" />
          </div>
          <div class="profile-image">
            <img src="my-pic.jpg" alt="" />
        </div>
        <div class="card-content">
          <h3>Mark Maher</h3>
          <p>
            i'a Mark Maher Ewida , i have 16 years old, i am Full Stack web
            Developer , i use MERN Stack always , i'm from Port Said in Egypt
            , my birthday is 28/6/2006 , i am from St. George's Church in Port
            Said
          </p>
        </div>
        <div class="icons">
          <a
            href="https://www.facebook.com/MarkMaher05"
            class="fa-brands fa-facebook-f"
            ></a>
          <a href="https://github.com/Marco5dev" class="fa-brands fa-github"></a>
          <a
            href="https://www.instagram.com/markmaher05/"
            class="fa-brands fa-instagram"
            ></a>
          <a
            href="https://discord.com/users/966418622165704814"
            class="fa-brands fa-discord"
            ></a>
        </div>
      </div>
    </div>
    <div class="chevron-down">
      <a href="#services"><i class="fa-solid fa-chevron-down"></i></a>
    </div>
  </section>

  <section class="skills" id="skills">
    <div class="container">
      <div class="card">
        <p>
          HTML5
        </p>
        <div class="container">
          <div id="html" class="skill html">
            90%
          </div>
        </div>
      </div>
      <div class="card">
        <p>
          CSS3
        </p>
        <div class="container">
          <div class="skill css">
            70%
          </div>
        </div>
      </div>
      <div class="card">
        <p>
          JavaScript 
        </p>
        <div class="container">
          <div class="skill js">
            65%
          </div>
        </div>
      </div>
      <div class="card">
        <p>
          Node.js 
        </p>
        <div class="container">
          <div class="skill nodejs">
            45%
          </div>
        </div>
      </div>
      <div class="card">
        <p>
          Visual Stodio Code 
        </p>
        <div class="container">
          <div class="skill vscode">
            100%
          </div>
        </div>
      </div>
      <div class="card">
        <p>
          MongoDB 
        </p>
        <div class="container">
          <div class="skill mongodb">
            76%
          </div>
        </div>
      </div>
    </div>


    <div class="chevron-down">
      <a href="#services"><i class="fa-solid fa-chevron-down"></i></a>
    </div>
  </section>
</body>
</html>